.product-intro {
  background: linear-gradient(
    180deg,
    #0074bd 0%,
    #4ca2cf 100%
  );
  padding: 3em 0;
  color: aliceblue;
}

.product-intro .product-container {
  width: 85%;
  max-width: 900px;
  margin: 0 auto;
}

.product-intro .product-container .text .title {
  font-size: 2.2rem;
  text-transform: uppercase;
  text-align: center;
  padding: .5em 0;
  letter-spacing: 1px;
  font-weight: 600;
}


.product-intro .product-container .text p:nth-child(2) {
  text-align: center;
  line-height: 1.5;
  font-family: "Quicksand", sans-serif;
  color: white;
}

.all-products-categories{
  background-color: #F1F0F0;  
  padding: 2em 0;
}

.all-products-categories .products {
  display: grid;
  gap: 1.5em;
  grid-template-columns: repeat(1, minmax(200px, 400px));
  justify-content: center;
}

.all-products-categories .products .product {
  background-color: white;
}

.all-products-categories .products .product img {
  padding-bottom: 1em;
  aspect-ratio: 1/1;
  height: auto;
  width: 100%;
}

.all-products-categories .products .product .product-details {
  background-color: #FAFBFA;
  padding: 1.5em 0em 3em 0;

}

.all-products-categories .products .product .product-details .product-title {
  font-size: 1.1rem;
  padding-bottom: 23px;
  padding-left: 25px;
}

.all-products-categories .products .product .product-details .product-feature {
  font-size: .9rem;
  color: rgb(134, 134, 134);
  padding-bottom: 23px;
  padding-left: 25px;
}

.all-products-categories .products .product .product-details .product-price {
  font-size: 1.2rem;
  color: #1f99db;
  font-weight: 600;
  padding-bottom: 23px;
  padding-left: 25px;
}

.all-products-categories .products .product .product-details .buttons {
  display: flex;
  justify-content: space-around;
  padding-left: 5px;
}

.all-products-categories .products .product .product-details .buttons button:first-child {
  border: 1px solid #1f99db;
  background-color: #FAFBFA;
  padding: .8em 1.5em;
  color: #1f99db;
  width: 45%;
  border-radius: 25px;
  font-size: .9rem;
  font-weight: 600;
  cursor: pointer;
}

.all-products-categories .products .product .product-details .buttons button:last-child {
  border: none;
  background-color: #1f99db;
  padding: .8em 1.5em;
  color: #FAFBFA;
  width: 45%;
  border-radius: 23px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}



@media screen and (min-width: 650px) {
  .all-products-categories .products {
    grid-template-columns: repeat(2, minmax(250px, 450px));
  }
}

@media screen and (min-width: 1200px) {
  .all-products-categories .products {
    grid-template-columns: repeat(3, minmax(300px, 1fr));
  }
}

@media screen and (min-width: 1700px) {
  .all-products-categories .products {
    grid-template-columns: repeat(4, minmax(300px, 550px));
  }
}